:root {
    --ll-main-color: #4075B6; 
    --l-main-color: #205EA9; 
    --main-color: #00479D; 
    --d-main-color: #003E89; 
    --dd-main-color: #003576;
    --bg-color: #BBBBBB;
    font-family:  'Open Sans', sans-serif;
}

html {
    scroll-behavior: smooth; 
  }

header {
    background-color: var(--main-color);
    padding: 0 10px;
}

body {
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
    min-height: 100vh; 
    margin: 0; 
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.nav-link {
    color: #FFFFFF;
    font-weight: 100;
    text-decoration: none;
    font-size: 18px;
}

.main-content {
    border: crimson 2px solid;
    align-self: center; 
    display: flex;
    flex-flow: row nowrap;
    margin: 0 20px; 
}

aside {
    border: green 2px solid;
    align-self: stretch;
    background-color: var(--bg-color);
    width: 300px;
}

.profile-photo {
    width: 300px; 
    padding: 0;
}

.contacts {
    color: #FFFFFF;
    height: 30px;
}

.contact-email {
    background-color: var(--dd-main-color);
    padding: 10px 20px;
}

.contacts-email-link {
    padding: 0 40px;
    text-decoration: none;
}

.contact-email::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    background-size: contain;
    background-image: url(./assets/svg/email.png);
}

.contact-discord {
    background-color: var(--d-main-color);
    padding: 10px 20px;
}

.contacts-discord-link {
    padding: 0 40px;
    text-decoration: none;
}

.contact-discord::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    background-size: contain;
    background-image: url(./assets/svg/discord.png);
}

.contact-github {
    background-color: var(--main-color);
    padding: 10px 20px;
}

.contacts-github-link {
    padding: 0 40px;
    text-decoration: none;
}

.contact-github::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    background-size: contain;
    background-image: url(./assets/svg/github.png);
}

main {
    border: blue 2px solid;
    min-width: 400px;
    display: flex;
    flex-flow: column nowrap;
}

footer {
    background-color: var(--main-color);
}


